/*///////////////////////////////////GENERAL//////////////////////////////////////*/

html,body {
    width: 100%;
    height:100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;

    font-family: "Century Gothic", sans-serif;
    background-color: rgb(63,63,63);
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    width: 100%;
    text-align: center;
    top: 10px;
    color: #122b48;
    font-size: 2.8em;
    text-shadow: -1px -1px #122b48, 3px 3px #fa6c05;
}

button, div, h1, form {
    position:relative;
    margin: 0;
}

button, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    position: relative;
    width: 60%;
    height: 50px;
    left: 20%;
    font-size: larger;
    font-weight: bold;
    border-width: thick;
    border-color: #fa6c05;
    background-color: #122b48;
    color: white;
    margin-bottom: 12px;
    margin-top: 12px;
}

button:hover {
    background-color: #4960a7;
    border-color: #fc9821;
}

input {
    height: 30px;
}
input.formInvalid::-webkit-input-placeholder {
    color: lightcoral;
}

#container, .page, .game, .popup{
    position: absolute;
    width: 100%;
    height: 100%;
}


#container {
    background-color: whitesmoke;
}

.page {
    background:  url("../Images/menu_background.png") no-repeat;
    background-size: 100%;
}


.popup h1{
    margin-bottom: 50px;
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.popup .wrapper {
    position: relative;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.7);
    border: thick solid #122b48;
}


.home-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: url("../Images/home-button.png");
    background-size: 100%;
}


.mini-popup {
    position: absolute;
    display: none;
    background: #ccc;
    border: 1px solid;
}




/*///////////////////////////////////MENU//////////////////////////////////////*/


#register-page a {
    position: relative;
    width: 20%;
    height: 20px;
    left: 55%;
    font-size: x-large;
    font-weight: bold;
    color: cornflowerblue;
}


h4 {
    position: relative;
    color: cornflowerblue;
    font-weight: 900;
}


/*//////////////////////////////////////////HIGH SCORE////////////////////////////////////*/

#high-score .wrapper {
    width: 80%;
    left: 10%;
}


.infobox {
    background-color: rgba(255,255,255, 0.7);
    border-width: thick;
    border-style: solid;
    border-color: #122b48;
    text-align:center;
}

#high-score table {
    width: 100%;

}

#high-score tr td {
    border-bottom:1pt solid #122b48;
}

#high-score th {
    text-align: left;
}

#high-score a {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#high-score .trophy {
    position: relative;
    width: 50px;
    height: 50px;
}
#high-score .inactive {
    background-image: url("../Images/trophy-black.png");
    background-size: 100%;
}
#high-score .active {
    background-image: url("../Images/trophy-gold.png");
    background-size: 100%;
}
#high-score .left {
    float: left;
    left: 10%;
}
#high-score .right {
    float: right;
    left: -10%;
}
#high-score .center {
    display: inline-block;
    margin:0 auto;
}
#high-score #achievement-button {
    width: 75px;
    height: 75px;
    background-image: url("../Images/trophy-gold.png");
    background-size: 100%;
    display: inline-block;
    margin:0 auto;
}

#achievement-details {
    height: 20px;
}



/*///////////////////////////////////LOADING//////////////////////////////////////*/


#loading_screen {
    position:relative;
    width: 100%;
    height: 100%;
	background: url("../Images/loading.gif") no-repeat center;
    background-size: 20%;
}


/*///////////////////////////////////LOGIN//////////////////////////////////////// */




.mute-button {
    position: absolute;
    bottom: 20px;
    right: 250px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url("../Images/yessound.png");
    background-size: 100%;
    z-index: 1000;
}





#achievement-popup {
    position:absolute;
    display: none;
    width: 50%;
    height: 50px;

    left: 25%;
    bottom: 40px;

    background-color: rgba(255,255,255, 0.7);
    border-width: thick;
    border-style: solid;
    border-color: #122b48;
    text-align:center;
}








